@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho', serif;
    background-color:white;
    color: black;
    cursor: context-menu;
}

*::-webkit-scrollbar{
    width: 13px;
}

*::-webkit-scrollbar-track{
    background-color: rgb(212, 204, 204);
    background-color: white;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(rgb(30, 117, 184), rgb(76, 76, 76));
    /* background-color:linear-gradient(blue, violet); */
}

a{
    text-decoration: none;
}


li{
    list-style: none;
}